* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: DMSans;
  src: url(assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: DMSans;
  src: url(assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
  font-style: italic;
}

body {
  font-family: 'DMSans', sans-serif;
  font-size: 1.125rem;
  min-height: 100vh;
}

.main-content {
  overflow: hidden;
}

.section-hero {
  display: flex;
  min-width: 100vw;
  background-color: #F5F5F5;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hero-content {
  display: grid;
  gap: 1rem;
  margin: 2rem;
}

.hero-content > div {
  border-radius: 0.5rem;
}

.hero-review {
  background-color: hsl(256, 67%, 59%);
  padding: 2rem 2.5rem;
  text-align: center;
}

.hero-review img {
  width: 70%;
}

.hero-review h1 {
  color: white;
  font-weight: 400;
  margin-block-end: 1rem;
  line-height: 3rem;
  font-size: 2.75rem;
}

.hero-review p {
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.7);
}

.hero-review span.yellow {
  font-style: normal;
  color: hsl(39, 100%, 71%);
}

.hero-review span {
  font-style: italic;
}

img {
  width: 100%;
}

h2 {
  color: hsl(0, 0%, 7%);
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.hero-account {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
}

.hero-posting {
  background-color: hsl(39, 100%, 71%);
  padding: 1rem;
  overflow-y: hidden;
}

.hero-posting img {
  width: 70%;
  position: relative;
  bottom: -2.5rem;
}

.hero-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  background-color: hsl(254, 88%, 90%);
}

.hero-followers {
  background-color: hsl(256, 67%, 59%);
  padding: 1rem;
  text-align: center;
}

.hero-followers img, .hero-create img, .hero-ai img {
  width: 70%;
}

.hero-followers h2 {
  color: white;
  font-size: 2rem;
  margin-inline: 1.5rem;
  font-weight: 400;
}

.hero-audience {
  background-color: white;
  padding: 1rem;
}

.hero-audience img {
  width: 50%;
}

.hero-audience p span {
  font-weight: 700;
  font-size: 3rem;
  display: block;
}

.hero-audience p {
  margin-block-end: 1rem;
}

.hero-create {
  background-color: hsl(31, 66%, 93%);
  padding: 1rem;
}

.hero-create h2, .hero-ai h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-block-end: 1rem;
}

.hero-create h2 span {
  color: hsl(256, 67%, 59%);
  font-style: italic;
}

.hero-ai {
  background-color: hsl(39, 100%, 71%);
  padding: 1rem;
}


@media (min-width: 768px) {
  :root {
    font-size: 10px;
  }

  .main-content {
    overflow: hidden;
  }
  .section-hero {
    padding: 3rem;
  }

  .hero-content {
    max-width: 1200px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 60px;
    grid-template-areas: 
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box2 box2 box3'
    'box1 box4 box5 box3'
    'box6 box4 box5 box3'
    'box6 box4 box5 box3'
    'box6 box7 box8 box8'
    'box6 box7 box8 box8'
    'box6 box7 box8 box8'
    ;
    gap: 2rem;
    margin: auto;
  }

  .hero-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: box1;
    padding: 2rem;
  }

  .hero-create h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .hero-review {
    grid-area: box2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-review h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    margin-block-start: 1rem;
  }

  .hero-review img {
    margin-block-start: 0.5rem;
    width: 40%;
  }

  .hero-social-media {
    grid-area: box3;
    text-align: left;
    padding: 2rem;
    overflow: hidden;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
  }

  .hero-social-media img {
    position: relative;
    width: 150%;
    right: -3rem;
  }

  .hero-social-media p {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: .5rem;
  }

  .hero-account {
    padding: 1.5rem;
    grid-area: box4;
    overflow: hidden;
  }

  .hero-account img {
    width: 140%;
  }

  .hero-posting {
    padding: 0 1.5rem;
    grid-area: box5;
  }

  .hero-posting img {
    width: 100%;
  }

  .hero-ai {
    grid-area: box6;
  }

  .hero-ai img {
    width: 100%;
  }

  .hero-ai h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-right: 1rem;
  }

  .hero-audience {
    padding: 1rem;
    grid-area: box7;
  }

  .hero-audience img {
    width: 80%;
  }

  .hero-audience p span {
    font-size: 4rem;
  }

  .hero-followers {
    display: flex;
    grid-area: box8;
  }

  .hero-followers img {
    width: 70%;
  }

  .hero-followers h2 {
    font-size: 2rem;
    align-self: center;
    line-height: 2.5rem;
    text-align: left;
  }
}

@media (min-width: 900px) {
  :root {
    font-size: 12px;
  }

  .hero-followers h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  :root {
    font-size: 14px;
  }
  
  .hero-posting img {
    position: relative;
    top: 1rem;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }

  .hero-posting img {
    position: relative;
    top: 1rem;
  }
}

@media (max-width:400px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width:300px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width:200px) {
  :root {
    font-size: 10px;
  }
}
